@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100vw;
    height: auto;
    border: 1px solid black;
}

.headerWrapper {
    width: 100vw;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: end;
    align-items: center;
}

.titleH1 {
    margin: 0;
    padding: 0 5vw 0 0;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #2315b3;
}

#addBookButtonDiv {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

#main {
    background-color: #0b0b46;
}