@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#body {
    overflow-x: hidden;
    background-color: #0b0b46;
}

#header {
    width: 100vw;
    height: auto;
    border: 1px solid black;
}

.headerWrapper {
    width: 100vw;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: end;
    align-items: center;
}

.titleH1 {
    margin: 0;
    padding: 0 5vw 0 0;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #2315b3;
}

#main {
    background-color: #0b0b46;
}

#addBookButtonDiv {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

#bookKeeperDiv {
    margin: 20px 0;
}

.bookItem {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #1521a5;
    /* padding: 40px; */
}

.bookTitleAndImage {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.bookTitleAndImage .name {
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

.picture {
    width: 80px;
    height: 120px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-paragraph {
    color: white;
    font-size: 16px;
    padding: 18px;
}

.description-details {
    color: #8adb20;
    font-size: 14px;
}